In [58]:
import numpy as np
import pandas as pd
from sklearn import linear_model
import math
import warnings
warnings.filterwarnings("ignore")

In [59]:
df=pd.read_csv("hiring.csv")
df

   experience  test_score  interview_score  salary
0           2           8                9   50000
1           4           8                6   45000
2           5           6                7   60000
3           2          10               10   65000
4           7           9                6   70000
5           3           7               10   62000
6          10           6                7   72000
7          11           7                8   80000

In [60]:
reg = linear_model.LinearRegression()
reg.fit(df[['experience','test_score','interview_score']],df.salary)

LinearRegression()

In [61]:
reg.coef_

array([3770.97028662, 2286.87877991, 3721.53562977])

In [62]:
reg.intercept_

-4484.880357612434

In [63]:
reg.predict([[6,10,10]])

array([78225.08545885])